# 🔐 AUTH (usuario)
AZURE_CLIENT_ID=xxxxx-xxxx-xxxx-xxxx-xxxxxxxx
AZURE_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx

# URL de redirección para autenticación (ajusta el puerto según tu configuración)
VITE_REDIRECT_URI=http://localhost:puerto