# 🔐 AUTH (usuario)
AZURE_CLIENT_ID=xxxxxx-xxxx-xxxx-xxxx-xxxxxxxx
AZURE_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxx

# 🔑 BACKEND (app)
AZURE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxx

# 📁 SHAREPOINT
SHAREPOINT_SITE_ID=xxxxxxxxxxxxxxxxxxxx
SHAREPOINT_DRIVE_ID=xxxxxxxxxxxxxxxxxxxx