# 🔐 AUTH (usuario)
AZURE_CLIENT_ID=xxxxx-xxxx-xxxx-xxxx-xxxxxxxx
AZURE_TENANT_ID=xxxxx-xxxx-xxxx-xxxx-xxxxxxxx

# 🔑 BACKEND (app)
AZURE_CLIENT_SECRET=xxxxx-xxxx-xxxx-xxxx-xxxxxxxx

# 📁 SHAREPOINT
SHAREPOINT_SITE_ID= mysharepointsite.sharepoint.com
SHAREPOINT_DRIVE_ID= b!xxxx-xxxx-xxxx-xxxx-xxxxxxxx